.content{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    position: relative;
}

.image{
    width: 800px;
    height: 300px;
    object-fit: cover;
}
.less{
    position: absolute;
    top:35%;
 
    left:1%;
}
.add{
    position: absolute;
    top:35%;

    right: 1%;
}

.arrow{
    font-size: 70px !important;
    opacity: 0.3;
}
.arrow:hover{
    opacity: 1;  
    color: #fff;
}
.dot{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 10px;
}

.dot i{
    font-size: 19px;
    padding: 5px;
    
}
.dot .active{
color:blue;
}